.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .header-container1 {
  background-color: #f0f0f2;
  display: flex;
  flex-direction: row;

  color: white;
} */
.logo img {
  width: 70px;
  height: auto;
  /* object-fit: ; */
}

.top-bar-element {
  display: flex;
  align-items: center;
  margin-top: .7%;
  gap: 10px;
  padding: 3px 40px;
  background-color: #ffffff;
}

.top-bar-search {
  display: flex;
  margin-top: -0.8%;
  margin-left: 1%;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #d94fb3;
  border-radius: 15px;
  overflow: hidden;
  width: 670px;
  height: 40px;
}
/* .top-bar-search:hover,
.search-input:focus {
  border-color: #b0439e;
  box-shadow: 0 0 5px #e3a0da;
} */
.search-input {
  border: none;
  background-color: #f6ecf4;
  outline: none;
  flex: 1;
  padding: 15px 15px;
  font-size: 14px;
  color: #333;
}
.search-button{
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to left, #7a97ff, #f35b9f);;
  font-size: 20px;
  align-self: center;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  width: 50px;
  
}

.offers {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 16px;
  margin-top: 10;
  padding: 0;
  margin-top: 0;
}

.Treasure-chest {
  position: sticky;
  background-color: #ffe1f5;
  border: 2px solid rgb(255, 45, 213);
  border-radius: 15px;
  padding: 5px 16px;
  font-weight: 600;
  font-size: 14px;
  /* padding: center; */
  color: #080808;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 30px;
  /* transition: all 0.3s ease; */
}
p{
  padding-left: 29%;
  /* text-align: justify; */
}


/* NEW label */
.new-tag {
  position: absolute;
  top: -6px;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  font-size: 8px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 12px;
}

.Stores{
  position: sticky;
  background-color: #ffffff;
  border: 2px solid rgb(255, 45, 213);
  border-radius: 13px;
  padding: 5px 16px;
  font-weight: 600;
  font-size: 14px;
  /* padding: center; */
  color: #080808;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
}

.Gold{
  position: sticky;
  background-color: #ffffff;
  border: 2px solid gold;
  border-radius: 13px;
  padding: 5px 16px;
  font-weight: 600;
  font-size: 14px;
  /* padding: center; */
  color: #080808;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
}

/* section 1 complete */

.top-bar2-element {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 40px;
  background-color: #541a69;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 60px;
}
.nav-bar{
  list-style: none;
  padding: 0px;
  cursor: default;
}
.product-type {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
  margin-top: 0;
  padding: 0;
  /* margin-top: 0; */
  color: #f6ecf4;
}


.p-1{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 15px;
/* font-weight: 100; */
  font-family: 'Roboto', sans-serif;
}
.p-1:hover
{
  color: #fd9ae1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
